DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=minecraft_autologin
ENCRYPTION_KEY=your_encryption_key_here
SECRET_KEY=minecraft_autologin_secret_key_2026

ALERT_EMAIL=your_gmail@gmail.com
ALERT_EMAIL_PASSWORD=your_16_digit_app_password
ALERT_RECEIVER_EMAIL=receiver1@gmail.com,receiver2@gmail.com
