colorama==0.4.6
readchar==4.0.5
requests>=2.32.0
urllib3==2.2.2
configparser==6.0.0
stem==1.8.2
requests[socks]
git+https://github.com/ammaraskar/pyCraft.git
PySocks==1.7.1
flask==3.0.0
flask-cors==4.0.0
flask-socketio==5.3.5
python-socketio==5.10.0
selenium>=4.0.0
pymysql==1.1.0
cryptography==42.0.0
python-dotenv==1.0.0
